

#sel {
    width: 35%;
    margin: 10px;
}

#results {
    margin: 10px;
    width: 70%;
    border-radius: 8px;
    background-color: rgb(111, 167, 219);
}

.table td {
    vertical-align: middle;
}

#heading {
    font-family: Helvetica, sans-serif;
    font-size: 1.5em;
    
}

#header {
    font-size: 0.85rem;
}

.headings__aling {
    padding-left: 60px;
    padding-top: 40px;
}